.container {
  padding: 14px;
  margin: auto;
  border-radius: 18px;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  background: #d3d3d3;
}

.inputContainer {
  margin-top: 40px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
  width: 100%;
}

.inputContainer input {
  color: white;
  font-family: "Roboto Mono";
}

.inputBox {
  width: 200px;
  background: #212429;
  display: flex;
  padding: 20px;
  border-radius: 10px;
}

.inputContainer svg {
  margin: 14px 0;
}

.slip {
  margin-top: 40px;
  display: flex;
  align-items: center;
}

.slip input {
  font-family: "Roboto Mono";
}

.slip svg {
  margin-left: 10px;
}

.actions {
  font-family: "Roboto Mono";
  width: 300px;
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.actions button {
  font-family: "Roboto Mono";
  margin-left: 10px;
}

.label {
  margin-left: 12px;
}
